/S4/R403-NoSQL/TP4/S4_MONGOOSE_OAUTH/S4_MONGOOSE_OAUTH/config
/S4/R403-NoSQL/TP4/S4_MONGOOSE_OAUTH/S4_MONGOOSE_OAUTH/config/dev.js
/S5/R500-Nouvelle_BdD/TD1/node_modules
/S5/R508-Qualte_dev/AdhocMorpion/__MACOSX
/S5/R508-Qualte_dev/MinMaxMorpion/__MACOSX
/S4/R403-NoSQL/TP4/S4_MONGOOSE_OAUTH/S4_MONGOOSE_OAUTH/node_modules
/S3/R301-Dévelopement_web/TP2/node_modules
/S4/DevAndroid/dice_images/__MACOSX
/S4/R401-Services-web/AI_website/node_modules
/S4/R401-Services-web/passeportLocal/node_modules
/S4/R401-Services-web/testSocket/node_modules
