services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile-db
    container_name: db
    ports:
      - "3306:3306"

  back:
    build:
      context: ./backend
      dockerfile: Dockerfile-back
    container_name: back
    ports:
      - "3000:3000"
    depends_on:
      - db

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile-front
    container_name: front
    ports:
      - "8081:80"
    depends_on:
      - back
