<!DOCTYPE html>
<html>
    <head>
        <title>Signin</title>
    </head>
    <body>
        <form id="signup" name="signup" method="post" action="/signup">
            <label for="username">Email : </label>
            <input type="text" id="email" name="email" required>
            <label for="firstname">First Name : </lable>
            <input type="text" id="firstname" name="firstname" required>
            <label for="lastname">Last Name : </label>
            <input type="text" id="lastname" name="lastname" required>
            <label for="password">Password : </label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Signout</button>
        </form>
    </body>
</html>